name: desktop-release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: release version
        required: true
        default: 1.0.1
      release_type:
        description: release channel
        required: true
        default: stable
        type: choice
        options:
          - stable
          - beta
          - nightly

jobs:
  build-release:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      UPDATE_CHANNEL: ${{ inputs.release_type }}
      APP_URL: http://localhost:3015
      FEATURE_FLAGS: -check_updates,+pin_list
      SEARCH_PROVIDERS: search1api
      NEXT_PUBLIC_SERVICE_MODE: server
      NEXT_PUBLIC_IS_DESKTOP_APP: 1
      NEXT_PUBLIC_ENABLE_NEXT_AUTH: 0
      KEY_VAULTS_SECRET: ${{ secrets.KEY_VAULTS_SECRET }}
      NEXT_TELEMETRY_DISABLED: 1
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.10.0
      - name: install dependencies
        run: pnpm install
      - name: generate KEY_VAULTS_SECRET
        shell: bash
        run: |
          if [ -z "${KEY_VAULTS_SECRET}" ]; then
            SECRET=$(openssl rand -base64 32)
            echo "KEY_VAULTS_SECRET=$SECRET" >> $GITHUB_ENV
          fi
      - name: set desktop version
        run: pnpm workflow:set-desktop-version ${{ inputs.version }} ${{ inputs.release_type }}
      - name: build next for desktop
        run: pnpm desktop:build-next
      - name: prepare dist
        run: pnpm desktop:prepare-dist
      - name: build and publish windows
        if: ${{ startsWith(matrix.os, 'windows') }}
        working-directory: apps/desktop
        run: npx electron-builder --win --config electron-builder.js --publish always
      - name: build and publish linux
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        working-directory: apps/desktop
        run: npx electron-builder --linux AppImage deb --config electron-builder.js --publish always
      - name: build and publish mac
        if: ${{ startsWith(matrix.os, 'macos') }}
        working-directory: apps/desktop
        run: npx electron-builder --mac --config electron-builder.js --publish always -c.mac.notarize=false -c.mac.identity=null